{% extends 'teacher/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <img src="{{teacher.profile_picture.url}}" style="width:100%">
    </div>
    <div class="col-md-8">
        <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
        <h4>Email: {{teacher.email_address}}</h4>
        <h4>Phone: {{teacher.phone_number }}</h4>
        <h4>Room Number: {{ teacher.room_number }}</h4>
        <h4>Subject: {% for subject in subject_taught %}{{subject.subject.title}}, {% endfor %}</h4>

    </div>
</div>

{% endblock %}
